body {
    background-color: #333;
    color: #ccc;
}
#main {
    width: 800px;
    margin: 0 auto;
}
#version {
    text-align: right;
    font-size: 0.8rem;
    color: #999;
}
#instructions {
    width: 500px;
    margin: 0 auto;
}
.controls span {
    font-weight: bold;
    margin-right: 0.5em;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: #ebdd75;
    text-decoration: none;
}
a:visited {
    color: #ff8521;
}
a:active {
    color: #ffffff;
}
a:hover {
    color: #fffad4;
}
#instructions {
    margin-top: 8rem;
}
.error {
    border: 1px solid #f66;
    padding: 0.5rem;
}
#game {
    position: relative;
    width: 100%;
    height: 450px;
}
#game canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.glLayer {
    z-index: 0;
}
.hudLayer {
    z-index: 1;
}
.videoLayer {
    position: absolute;
    left: 0;
    top: 0,
    width: 100%;
    height: 450px;
    z-index: 2;
}
.videoLayer video {
    width: 640px;
    margin: 10px 80px 0px 80px;
}
.button {
    display: block;
    width: 150px;
    height: 20px;
    background-color: #611;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: 80px;
    cursor: default;
}
